[Unit]
Description=shibboleth-idp restarter

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl restart shibboleth-idp.service

[Install]
WantedBy=multi-user.target
